@page "/blogs"

@using Catman.Blogger.Core.Services.Blog.Data.Requests
@using Catman.Blogger.WebUI.Data.Blog
@using Catman.Blogger.WebUI.Shared.Common

@inject IBlogStorage _storage;

<h1>Blogs</h1>

<Loadable IsLoaded="@_storage.Blogs.IsLoaded">
    @if (!_storage.Blogs.Value.Any())
    {
        <p>There are no blogs yet. Try creating one!</p>
    }
    
    @foreach (var blog in _storage.Blogs.Value)
    {
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">@blog.Title</h5>
                <h6 class="card-subtitle text-muted">@blog.Id</h6>
                
                <p class="card-text">@blog.Description</p>
                
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-danger btn-sm" @onclick="@(() => _storage.DeleteBlog(blog.Id))">
                        @if (_storage.DeletingBlog && blog.Id == _storage.BlogIdToDelete)
                        {
                            <span class="spinner-border spinner-border-sm"></span>
                        }
                        Delete
                    </button>
                </div>
            </div>
        </div>
    }
</Loadable>

<EditForm Model="@_blogToCreate" OnValidSubmit="@(() => _storage.CreateBlog(_blogToCreate))">
    <div class="mb-3">
        <label class="form-label">
            Title
            <InputText @bind-Value="@_blogToCreate.Title" class="form-control" />
        </label>
    </div>
    
    <div class="mb-3">
        <label class="form-label">
            Description
            <InputTextArea @bind-Value="@_blogToCreate.Description" class="form-control" />
        </label>
    </div>
    
    <button type="submit" class="btn btn-primary">
        @if (_storage.CreatingBlog)
        {
            <span class="spinner-border spinner-border-sm"></span>
        }
        Create blog
    </button>
</EditForm>

@code
{
    private readonly CreateBlog _blogToCreate = new CreateBlog();

    protected override async Task OnInitializedAsync()
    {
        _storage.OnChange += StateHasChanged;
        await _storage.Initialize();
    }

    public void Dispose()
    {
        _storage.OnChange -= StateHasChanged;
    }
}
